@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Manrope;
    src: url('../assets/typography/Manrope-VariableFont_wght.ttf');
}

body{
    font-family: Manrope, 'sans-serif';
}
